# Welcome to Jekyll!
#
# in the templates via {{ site.myvariable }}.
title: super snooper science salmon sister
subtitle: 
email: sophdoerr at gmail dot com
description: >- # this means to ignore newlines until "baseurl:"
  The personal website of Sophia Doerr!
minimal_mistakes_skin: default
search: false

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /blog/page:num
#paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

encoding: "UTF-8"

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:

  
  name     : "Sophia Doerr"
  avatar   : "sophia.jpg"
  bio      : "sophdoerr at gmail dot com"
  location : "Eugene, Oregon"
  links:
    - label: "Google Scholar"
      icon: "fab fa-fw fa-google"
      url: "https://scholar.google.com/citations?user=lscOcm8AAAAJ&hl=en"
    - label: "LinkedIn"
      icon: "fa-brands fa-linkedin-in"
      url: "https://www.linkedin.com/in/sophia-doerr-a43567153/"
    - label: "Recipes"
      icon: "fa-solid fa-burger"
      url: "https://dario.party/recipes/index.html"
    #- label: "Orcid"
      #icon: ""
      #url: "https://orcid.org/0000-0003-4551-0357"


defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: false
      comments: false
      share: false
      related: false
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
