{% assign author = page.author | default: site.author %}

<aside class="sidebar-author">
  {% if author.avatar %}
    <img class="avatar" src="{{ author.avatar | relative_url }}" alt="{{ author.name }}">
  {% endif %}

  <div class="author-info">
    <h3 class="author-name">{{ author.name }}</h3>
    {% if author.bio %}
      <p class="author-bio">{{ author.bio }}</p>
    {% endif %}
    {% if author.location %}
      <p class="author-location">{{ author.location }}</p>
    {% endif %}
    {% if author.links %}
      <p class="author-links">
        {% for link in author.links %}
          <a href="{{ link.url }}" target="_blank" rel="noopener">
            {% if link.icon %}
              <i class="{{ link.icon }}"></i>
            {% endif %}
            {{ link.label }}
          </a>
        {% endfor %}
      </p>
    {% endif %}
  </div>
</aside>
