.home-author {
  text-align: center;
  margin-bottom: 2rem;
}

.author-avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
}

.home-post {
  margin-bottom: 3rem;
}

.home-post h2 {
  margin-bottom: 0.2rem;
}

.home-post p.post-date {
  color: gray;
  font-size: 0.9rem;
}

.home-post .post-content {
  margin-top: 0.5rem;
}
